<?xml version="1.0"?>
<!--
/**
 * Fam
 *
 * @category  Fam
 * @package   Fam_Fam
 * @author    Fam Team
 * @copyright Copyright (c) Frictionless Technologies Ltd (https://www.joinfam.com/)
 * @license   https://joinfam.com/legal
 */ 
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="shortcut_buttons_container">
        <observer name="fam_payments_express_messages" instance="Fam\Fam\Observer\AddOnSiteMessage"/>
    </event>
    <event name="payment_method_is_active">
        <observer name="fam_payment" instance="Fam\Fam\Observer\PaymentMethodAvailable" />
    </event>
</config>
